@model MailingListRegistry.Model.MailingListEntry

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirm</title>
</head>
<body>
    <div> 
        Congrats on registering, @Model.FirstName @Model.LastName.
    </div>
</body>
</html>
